 Ce script prépare les données du full_dataset_annotation.json

In [1]:

import os
import numpy as np
import pandas as pd
import json
from datetime import datetime
from datetime import timedelta 
from sklearn.model_selection import TimeSeriesSplit

In [2]:
default_path = 'LSC/'
seed = 42
np.random.seed(seed=seed)

In [3]:
with open('LSC/full_dataset_annotation.json') as f:
    data = json.loads(f.read())
name,lat,lng,risk_situation,step,gsr,heart_rate,skin_temp,calories,timestamp = [],[],[],[],[],[],[],[],[],[]
for date in data:
    tmp = date
    date_split = tmp.split("-")
    yy = date_split[0]
    mm = date_split[1]
    dd = date_split[2]
    stamp = datetime(int(yy),int(mm),int(dd),int('08'),int('00'),int('00'))
    if data[date]["minutes"][str(0)]['image']['image-id']is None:
        timestamp_ = datetime.timestamp(stamp)
        timestamp.append(timestamp_)
    for result in data[date]:
        if(result !='image-directory'): 
            ctr = 1
            for i in data[date][result]:
                if data[date][result][str(i)]['image']['image-id'] is None:
                    date_pred = datetime.fromtimestamp(timestamp[ctr-1])
                    date_co = date_pred+timedelta(seconds=87)
                    date_co_ = datetime.timestamp(date_pred+timedelta(seconds=87))
                    timestamp.append(date_co_)
                else:
                    tmp_loc = data[date][result][str(i)]['image']['image-id'].split("_")
                    my_date_loc = tmp[1]
                    date_split_loc = date.split("-")
                    yy_loc = date_split[0]
                    mm_loc = date_split[1]
                    dd_loc = date_split[2]
                    my_time_loc = tmp_loc[2]
                    h=my_time_loc[0]+my_time_loc[1]
                    m=my_time_loc[2]+my_time_loc[3]
                    s=my_time_loc[4]+my_time_loc[5]
                    stamp = datetime(int(yy_loc),int(mm_loc),int(dd_loc),int(h),int(m),int(s))
                    timestamp_ = datetime.timestamp(stamp)
                    timestamp.append(timestamp_)
                ctr = ctr + 1
                if(len(data[date][result][str(i)]['location']['name']) == 0):
                    name.append(np.nan)
                else:
                    name.append(data[date][result][str(i)]['location']['name'])
                    
                if(len(data[date][result][str(i)]['location']['latitude']) == 0):
                    lat.append(np.nan)
                else:
                    lat.append(data[date][result][str(i)]['location']['latitude'])
                    
                if(len(data[date][result][str(i)]['location']['longitude']) == 0):
                    lng.append(np.nan)
                else:
                    lat.append(data[date][result][str(i)]['location']['longitude'])
                    
                if(data[date][result][str(i)]['image']['risk_situation'] is None):
                    risk_situation.append(np.nan)
                else:
                    risk_situation.append(data[date][result][str(i)]['image']['risk_situation'])
                    
                if(data[date][result][str(i)]['bodymetrics']['steps'] is None):
                    step.append(np.nan)
                else:
                    step.append(data[date][result][str(i)]['bodymetrics']['steps'])
                    
                if(data[date][result][str(i)]['bodymetrics']['gsr'] is None):
                    gsr.append(np.nan)
                else:
                    gsr.append(data[date][result][str(i)]['bodymetrics']['gsr'])  
                
                if(data[date][result][str(i)]['bodymetrics']['heart-rate'] is None):
                    heart_rate.append(np.nan)
                else:
                    heart_rate.append(data[date][result][str(i)]['bodymetrics']['heart-rate'])
                    
                if(data[date][result][str(i)]['bodymetrics']['skin-temp'] is None):
                    skin_temp.append(np.nan)
                else:
                    skin_temp.append(data[date][result][str(i)]['bodymetrics']['skin-temp'])
                    
                if(data[date][result][str(i)]['bodymetrics']['calories'] is None):
                    calories.append(np.nan)
                else:
                    calories.append(data[date][result][str(i)]['bodymetrics']['calories'])
                
df = pd.DataFrame([timestamp,name,lat,lng,step,gsr,heart_rate,skin_temp,calories,risk_situation]).T
df.columns = ["timestamp","name", "latitude", "longitude", "step","gsr","heart_rate","skin_temp","calories","risk_situation"]
df.head(20)

,timestamp,name,latitude,longitude,step,gsr,heart_rate,skin_temp,calories,risk_situation
0,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
def creat_missing_values(df, nb_rows_to_del=1):
    nb_rows = df.shape[0]
    nb_columns = df.shape[1]
    index_still = np.arange(nb_rows)
    #print(index_still)
    df_copy = df.copy()
    if nb_rows_to_del < nb_rows:
        while nb_rows-len(index_still)<nb_rows_to_del:
            index_del = np.random.randint(len(index_still)-1)
            timestamp_saved = df.iloc[index_del].__getitem__('timestamp')
            #print(timestamp_saved)
            df_copy.iloc[index_del] = [np.nan for i in range(nb_columns)]
            #print(df_copy.iloc[index_del])
            df_copy.loc[index_del, 'timestamp'] = timestamp_saved
            #print(df_copy.iloc[index_del])
            index_still = np.delete(index_still,index_del)
    return df_copy
df_truncated_missing_data = creat_missing_values(df)
print(df_truncated_missing_data.shape)
df_truncated_missing_data.head(10)

(55032, 10)

,timestamp,name,latitude,longitude,step,gsr,heart_rate,skin_temp,calories,risk_situation
0,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def create_mask(df):
    mask = df_truncated_missing_data.copy()
    mask=mask.drop(['timestamp'], axis = 1) 
    mask = mask.where(mask.isnull(),1)
    mask = mask.where(mask.isnull()!=True,0)
    return mask
    #return df_
Mask = create_mask(df)
Mask.head(10)

,name,latitude,longitude,step,gsr,heart_rate,skin_temp,calories,risk_situation
0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0

In [14]:
all_timestamp = df_truncated_missing_data.timestamp.values
processed_data = {
    'input': np.asarray(df_truncated_missing_data),
    'masking': np.asarray(Mask)
}
print(processed_data['input'])
n = len(timestamp)

[[1471240800.0 'Home' nan ... nan nan nan]
 [1471240887.0 'Home' nan ... nan nan nan]
 [1471240974.0 'Home' nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]]

In [7]:
# process label
processed_label = {
    'label_risk_situation': np.asarray([df['risk_situation'].values for df_ in df_truncated_missing_data])
}

In [8]:
detection_root_folder = os.path.join('detection_datas/')
grud_working_folder = '.' # # This should be the [WD] (working directory) of the GRU-D project.
grud_detection_data_folder = os.path.join(grud_working_folder, 'data', 'detection')
if not os.path.exists(grud_detection_data_folder):
    os.makedirs(grud_detection_data_folder)
print('The data files will be converted and saved here: ', grud_detection_data_folder)

The data files will be converted and saved here:  .\data\detection

In [9]:
np.savez_compressed(os.path.join(grud_detection_data_folder, 'data.npz'), timestamp=all_timestamp, **processed_data, **processed_label)

In [17]:
#n = processed_label['label_risk_situation'].shape[0]
n = len(processed_label['label_risk_situation'])
processed_fold = {
    'fold_risk_situation': np.empty([n,5,3], dtype=object)
}
# process statistics
# n_labeltype, 1, n_fold, (ts, nts), (mean, std)
processed_stats = {
    'mean_risk_situation': np.empty([n,5,3], dtype=object),
    'std_risk_situation': np.empty([n,5,3], dtype=object)
}

In [21]:
ts = TimeSeriesSplit(n_splits=5)
val_rate = 0.2
for n, inputs in enumerate(processed_data['input']):
    for i,(train_index, test_index) in enumerate(ts.split(inputs)): 
        X_train, X_test = inputs[train_index], inputs[test_index]
        X_train, X_val = X_train[0:int(len(X_train)*(1-val_rate))], X_train[int(len(X_train)*(1-val_rate)):]

        if n < 10:
            processed_fold['fold_risk_situation'][n][i][0] = np.asarray(train_index[0:int(len(X_train)*(1-val_rate))])
            processed_fold['fold_risk_situation'][n][i][1] = np.asarray(train_index[int(len(X_train)*(1-val_rate)):])
            processed_fold['fold_risk_situation'][n][i][2] = np.asarray(test_index)
            processed_stats['mean_risk_situation'][n][i][0] = np.asarray([np.mean(X_train[0]) for i in range(X_train.shape[0])])
            processed_stats['std_risk_situation'][n][i][0] = np.asarray([np.std(X_train[0]) for i in range(X_train.shape[0])])

In [20]:
np.savez_compressed(os.path.join(grud_detection_data_folder, 'fold.npz'), **processed_fold, **processed_stats)

In [13]:
data = np.load(os.path.join(grud_detection_data_folder, 'data.npz'),allow_pickle=True)
for k in data.keys():
    print(k, data[k].shape)
print(data['input'][1].shape)

fold = np.load(os.path.join(grud_detection_data_folder, 'fold.npz'),allow_pickle=True)
for k in fold.keys():
    print(k, fold[k].shape)
    for f in fold[k]:
        print('\t', [x.shape for x in f])

timestamp (55032,)
input (55032, 10)
masking (55032, 9)
label_risk_situation (10, 55032)
(10,)
fold_risk_situation (10, 5, 3)
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
mean_risk_situation (10, 5, 3)
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
std_risk_situation (10, 5, 3)
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]
	 [(3,), (3,), (3,), (3,), (3,)]